body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size: auto;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #ffd700;
}

p, li {
    color: #fff;
}

section {
    margin-bottom: 44px;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}